
.app {
/*    background:url(../img/pssb_logo.png) no-repeat center top;  170px x 200px */
    
/*    left:50%;*/
/*    top:50%;*/
    height:100%;                    
    width:100%;   
    position: absolute;
    top: 0;
    left: 0;
}

/* ------------------------------------------------------------------------------------*/
/*sharing sheet style*/
.sharesheetbg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index:87;
}

.sharesheet{
    position: absolute;
    background-color: white;
    height: 20%;
    bottom: 0;
    z-index:88;
    width:100%;
}

#sharesheet ul{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    background-color: white;
}

#sharesheet ul li{
    width: 100%;
    height: 15vw;
    background-color: white;
    border-bottom: 1px solid lightgray;
    color: gray;
    font-size: 4vw;
    line-height: 15vw;
    text-indent: 10px;
}

#sharesheetbg #closeBtn{
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

#sharesheet ul li img{
    width: 15vw;
    height: 15vw;
    float: left;
    padding-left: 10px;
}

#sharesheet ul li span{
    float: right;
    width: 70%;
    height: 100%;
    line-height: 15vw;
    background-color: transparent;
    outline: none;
    border: none;
    color: black;
    margin-top: 0;
    text-align: left;
    font-size: 4vw;
    
}


#sharesheet ul li: first-child{
    border-bottom: none;
}
/*sharing sheet style*/
/* ------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------*/
/* Loading Style */
.loadingPage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
}

.loadingFrame{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 14vw;
    height: 14vw;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    z-index: 99;
}

.loadingIcon{
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

/* Loading Style end */
/* ------------------------------------------------------------------------------------*/