.login{
  position: relative;
  top: 25%; 
  margin: 0 auto; 
  width: 310px;
  height: 310px;
  padding: 30px;
}

.app input[type=text], .app input[type=password] {
  width: 232px;
  margin: 0 auto;
  padding: 0 10px;
  height: 32px;
  vertical-align:middle;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

img {
   vertical-align:middle;
}
